body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  justify-content: center;
  display: flex;
}

.dark-mode {
  background-color: black;
  color: white;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#searchInput {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
#movieElement {
  margin-top: 20px;
  max-width: 800px;
}

#moviesContainer {
  margin-top: 20px;
  width:auto;
}

.movie {
  display: flex;
  align-items: center;
  
  margin-bottom: 20px;
}

.movie img {
  width: 100px;
  height: 150px;
  border-radius: 10px;
}

.movie-info {
  text-align: left;
}
